/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #74c0c5;
  --secundary-color: white;
  --accent-color: #f1f1f1;

  --text-normal: 16px;
  --text-small: 14px;
  --text-large: 18px;
  --text-xlarge: 24px;
}

/* Navbar styles */
.img-logo {
  width: 100px;
  height: 100%;
}

.navbar {
  background: #000;
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar ul {
  background-color: var(--accent-color);
  border-radius: 15px;
  list-style: none;
  display: flex;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-item i {
  font-size: var(--text-large);
  margin-bottom: 5px;
  transform: scaleX(0.9);
}

.nav-item span {
  font-size: var(--text-small);
}

.nav-item:hover,
.active {
  background: var(--primary-color);
  color: var(--secundary-color);
  border-radius: 10px;
}

.nav-item:not(:last-child)::after {
  content: '|';
  top: 50%;
  right: -5px;
  color: #333;
  font-size: var(--text-xlarge);
  position: absolute;
  transform: translateY(-50%);
}

.user-info {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 15px;
  padding: 8px 16px;
  gap: 16px;
  z-index: 1;
}

.user-names {
  display: flex;
  flex-direction: column;
}

.user-avatar {
  font-size: var(--text-xlarge);
  color: var(--primary-color);
}

.dropdown-icon {
  color: var(--primary-color);
  margin-left: auto;
}

.user-name {
  font-size: var(--text-normal);
  font-weight: bold;
  color: #777;
}

.user-role {
  font-size: var(--text-small);
  color: #777;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  right: 0;
  top: 100%;
  z-index: 10;
}

.dropdown-content button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Search bar */
.search-container {
  display: flex;
  align-items: center;
  background: var(--accent-color);
  padding: 5px 10px;
  border-radius: 15px;
  width: 220px;
  gap: 10px;
}

.search-bar {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: var(--text-small);
  color: #333;
}

.settings-icon {
  font-size: var(--text-large);
  cursor: pointer;
  color: var(--primary-color);
}

/* Content styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004d7a;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.contenedor {
  flex: 1 1 30%;
  max-width: 30%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.contenedor h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.card {
  flex: 1 1 30%;
  max-width: 30%;
  background-color: #eaf4ff;
  border: 1px solid #b0d4f1;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Button styles */
button {
  margin-top: auto;
  padding: 10px 15px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
}

/* Status styles */
.status {
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.status.up-to-date {
  background-color: #8bc34a;
  color: white;
}

.status.problem {
  background-color: #f44336;
  color: white;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 14px;
  width: 100%;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
}

.footer-right {
  text-align: right;
}

.footer-right a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.footer-right a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .contenedor {
    width: calc(100% - 20px);
  }
}
