/* Reset de márgenes y paddings para evitar problemas entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilos Generales */
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #4ac6ba;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Navbar */
  .navbar {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .img-logo {
    
    width: 100px;
    height: 100%;
    
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    margin: 0 5px;
  }
  
  .nav-item i {
    margin-right: 8px;
  }
  
  .nav-item:hover,
  .nav-item.active {
    background-color: #4ac6ba;
    border-radius: 5px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info .user-avatar {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .user-names p {
    color: #fff;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #edf2f7;
  }
  
  .settings-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Contenedor Principal */
  .container {
    margin-top: 80px; /* Ajusta por la navbar fija */
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Contenedores de las secciones */
  .contenedor {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #2d3748;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 15px;
    color: #4a5568;
  }
  
  /* Tablas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e2e8f0;
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
  }
  
  table th {
    background-color: #edf2f7;
    color: #2d3748;
    font-weight: 600;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9fafb;
  }
  
  table tbody tr:hover {
    background-color: #edf2f7;
  }
  
  table td {
    color: #4a5568;
  }
  
  button {
    background-color: #4ac6ba;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #4ac6ba;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  footer a {
    color: #edf2f7;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Estilos adicionales para las tablas de los informes */
  button:disabled {
    background-color: #cbd5e0;
    cursor: not-allowed;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    width: 100%;
  }
  
  .footer-center {
    text-align: center;
    flex-grow: 1;
  }
  
  .footer-right {
    text-align: right;
  }
  
  .footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  /* Usuario activo (perfil) */
  .usuario-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .foto-perfil {
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .usuario-info p {
    color: #4a5568;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      margin: 5px 0;
    }
  
    .search-container {
      margin-top: 10px;
    }
  
    .container {
      padding: 10px;
    }
  
    .contenedor {
      padding: 15px;
    }
  
    table th,
    table td {
      padding: 10px;
    }
  
    button {
      width: 100%;
    }
  }
  